{% extends "news/layout.html" %} 
{% load static %}

{% block title %} 
    {{ author.name }}
{% endblock %}

{% block content %} 
    <script src="{% static 'news/authorIS.js' %}" defer></script>
    <div class="row flex-row-reverse align-items-center justify-content-center mb-5 px-5 gx-5">
        <div class="col-md-4 col-12">
            <img src="{{ author.picture.url }}" alt="" class="authorImg ratio-1x1 d-block mx-auto rounded-circle w-75 mb-4 mb-md-0">
        </div>
        <div class="col-md-8 col-12">
            <div class="lh-1 text-md-start text-center">
                <h1 id="authorName">{{ author.name }}</h1>
                <p class="text-muted">{{ author.title }}</p>
            </div>
            <p>{{ author.bio }}</p>
        </div>
    </div>
    <div class="px-md-5 mb-5" id="articles">
        <h3 class=" mt-5">Articles</h3>
        {% for article in articles %}
        <div class="article clickableDiv d-flex align-items-center my-2 py-2 border-top" onclick="linkToArticlePage({{ article.id }})">
            <img src="{{ article.picture.url }}" alt="" width="250px" height="150px" class="searchImg me-3">
            <div>
                <p class="fw-bold text-danger mb-1">{{ article.category }}</p>
                <h4>{{ article.title }}</h3>
                <p class="text-secondary">{{ article.author.name }}, {{ article.date_written }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- container for loading spinner when fetching articles for infinity scroll -->
    <div class="d-flex justify-content-center mb-3" id="spinnerContainer"></div> 
{% endblock %}