{% extends "news/layout.html" %} 
{% load static %}

{% block title %}
    {{ category_name.capitalize }} Articles
{% endblock %}

{% block content %}
    <script src="{% static 'news/categoryIS.js' %}" defer></script>
    <h3 class="text-center text-danger my-5"><span class=" pb-3 border-bottom" id="categoryName">{{ category_name.upper }}</span></h3>
    <div class="row gy-4 mb-5" id="articles">
        {% for article in articles %}
            <div class="col-lg-3 col-sm-4 col-6 clickableDiv" onclick="linkToArticlePage({{ article.id }})">
                <img src="{{ article.picture.url }}" alt="" class="indexArticleImage d-block" height="180px" width="100%">
                <div class="lh-1 mt-2">
                    <h5>{{ article.title }}</h5>
                    <p class="text-muted">By {{ article.author.name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- container for loading spinner when fetching articles for infinity scroll -->
    <div class="d-flex justify-content-center mb-3" id="spinnerContainer"></div> 
{% endblock %}