{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'news/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'news/favicon.jpg' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="{% static 'news/script.js' %}" defer></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light border-bottom border-light shadow mb-5">
        <div class="container">
            <a href="/" class="navbar-brand"><img src="{% static 'news/logo.png' %}" alt="Moonway Logo" width="200"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto text-center">
                    <li class="nav-item ms-lg-1">
                        <a href="{% url 'index' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item ms-lg-1">
                        <a href="{% url 'category' 'politics' %}" class="nav-link">Politics</a>
                    </li>
                    <li class="nav-item ms-lg-1">
                        <a href="{% url 'category' 'world' %}" class="nav-link">World</a>
                    </li>
                    <li class="nav-item ms-lg-1">
                        <a href="{% url 'category' 'tech' %}" class="nav-link">Tech</a>
                    </li>
                    <li class="nav-item ms-lg-1">
                        <a href="{% url 'category' 'culture' %}" class="nav-link">Culture</a>
                    </li>
                    <li class="nav-item ms-lg-1">
                        <a href="{% url 'category' 'others' %}" class="nav-link">Others</a>
                    </li>
                </ul>
                <form action="{% url 'search' %}" class="d-flex">
                    <input type="search" name='q' required class="form-control me-3" placeholder="Search for articles" aria-label="Search">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </form>
                {% if user.is_authenticated %} 
                    <div class="dropdown ms-xl-5 d-flex justify-content-center">
                        <button class="btn border-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ user.picture.url }}" alt="" width="35px" height="35px" class="rounded-circle">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="fa fa-user ms-0 me-1"></i>Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out ms-0 me-1"></i>Logout</a></li>
                        </ul>
                    </div>
                    <div class="d-lg-none d-flex justify-content-center">
                        <button class="btn text-secondary border-none" onclick="location.href='/profile'"><i class="fa fa-user ms-0 me-1"></i>Profile</button>
                        <button class="btn text-secondary border-none" onclick="location.href='/logout'"><i class="fa fa-sign-out ms-0 me-1"></i>Logout</button>
                    </div>
                    <!-- <button class="btn text-secondary border-none" onclick="location.href='/logout'"><i class="fa fa-sign-out ms-0 me-1"></i>Log Out</button> -->
                {% else %}
                    <div class="ms-xl-5 d-flex justify-content-center">
                        <button class="btn text-secondary border-none" onclick="location.href='/signup'"><i class="fa fa-user ms-0 me-1"></i>Sign Up</button>
                        <button class="btn text-secondary border-none" onclick="location.href='/login'"><i class="fa fa-sign-in ms-0 me-1"></i>Log In</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <div id="content" class="container">
        {% block content %} 

        {% endblock %}
    </div>
    <footer class="text-secondary container d-flex flex-wrap justify-content-between align-items-center border-top py-2">
        <div>
            &copy; 2023 Moonway
        </div>
        <div class="d-flex">
            <a href="#" class="soc-mec-links"><i class="fa fa-facebook-square fa-2x text-secondary"></i></a>
            <a href="#" class="soc-mec-links"><i class="fa fa-instagram fa-2x text-secondary"></i></a>
            <a href="#" class="soc-mec-links"><i class="fa fa-twitter fa-2x text-secondary"></i></a>
        </div>
    </footer>
</body>
</html>