{% extends "news/layout.html" %} 

{% block content %}
    <div class="toast invalid align-items-center text-white bg-danger border-0 position-absolute start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
        <div class="toast-body">
            Invalid Credentials. Please Try Again. 
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <div class="toast success align-items-center text-white bg-success border-0 position-absolute start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
        <div class="toast-body">
            Registration Successful. Please Log In With Your Credentials.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <div class="loginFormContainer mx-auto col-lg-5 col-md-7 col-sm-9 col-11 border rounded shadow p-4 mb-5">
        <h1 class="mb-4">Login</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <button class="btn btn-secondary mb-4">Sign In</button>
        </form>
        <p class="text-secondary">New User? <a href="{% url 'signup' %}" class="link-primary">Click here</a> to sign up</p>
    </div>
    {% if failed_auth %}
        <script>
            let toastInvalid = new bootstrap.Toast(document.querySelector('.invalid'));
            toastInvalid.show()
        </script>
    {% endif %}
    {% if from_registration %}
        <script>
            let toastSuccess = new bootstrap.Toast(document.querySelector('.success'));
            toastSuccess.show()
        </script>
    {% endif %}
{% endblock %}